@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

.create_question_wrapper {
  width: 81%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.create_question_wrapper-div {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.create_question_wrapper-h2 {
  font-family: Poppins;
  font-weight: 700;
  font-style: Bold;
  font-size: 35px;
  line-height: 100%;
  text-align: center;
  color: #ffffff;
  background-color: #111111;
  width: 78%;
  min-height: 79px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 30px;
  margin-top: 10px;
}

.question-form_wrapper {
  border: 1px solid #ffffff;
  width: 70%;
  height: auto;
  border-radius: 30px;
  margin: 20px 0;
  padding: 10px;
  display: flex;
  flex-direction: column;
  background-color: #111111;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.question-input {
  width: 100%;
  height: 45px;
  border-radius: 10px;
  border: 2px solid #ffffff;
  color: #ffffff;
  outline: none;
  font-size: 24px;
  padding: 6px;
  margin: 10px 0 20px;
}

.question-form {
  width: 80%;
}

.question-form_wrapper-p {
  font-family: Poppins;
  font-weight: 500;
  font-style: Medium;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 0%;
  margin: 20px 0;
}

.question-form-button {
  width: 100%;
  height: 45px;
  background-color: #ffffff;
  color: #111111;
  font-family: Poppins;
  font-weight: 700;
  font-style: Bold;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  text-transform: uppercase;
  border-radius: 10px;
  margin: 13px 0 20px;
  cursor: pointer;
}

.variant_input_wrapper {
  width: 100%;
  height: 50px;
  background-color: #111111;
  border-radius: 10px;
  margin: 13px 0 20px;
  border: 2px solid #ffffff;
}

.variant_input_wrapper-input {
  width: 94%;
  height: 100%;
  border-radius: 10px 0 0 10px;
  border-right: none;
  outline: none;
  font-size: 20px;
  padding: 6px;
}

.variant_input_wrapper-span {
  width: 6%;
  text-align: center;
  display: inline-block;
  font-family: Poppins;
  font-weight: 500;
  font-style: Medium;
  font-size: 30px;
  line-height: 100%;
}

.add-question-form-button {
  color: #ffffff;
  background-color: #111111;
  border: 2px solid #ffffff;
  height: 49px;
}

.select-item {
  width: 100%;
  height: 59px;
  outline: none;
  border: 2px solid #a1ffc5;
  border-radius: 13px;
  cursor: pointer;
  position: relative;
}

.select-time-option {
  width: 100%;
  height: 55px;
  background-color: #111111;
  border-radius: 10px;
  padding: 10px;
  text-transform: uppercase;
  font-family: Poppins;
  font-weight: 500;
  font-style: Medium;
  font-size: 30px;
  line-height: 100%;
  letter-spacing: 0%;
  vertical-align: middle;
  border: 2px solid #ffffff;
  cursor: pointer;
  display: none;
}

.select-item:hover .select-time-option {
  display: block;
}

.select-time-option:hover {
  display: block;
}

.question-form-p {
  font-family: Poppins;
  font-weight: 500;
  font-style: Medium;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 0%;
  vertical-align: middle;
  margin: 0 0 15px 0;
}

.selected-option {
  font-family: Poppins;
  font-weight: 500;
  font-style: Medium;
  font-size: 30px;
  line-height: 100%;
  letter-spacing: 0%;
  vertical-align: middle;
  margin: auto 20px;
}

.select-item-wrapper {
  display: flex;
  justify-content: space-between;
}
