.question_name_wrapper {
  margin: 100px;
}

.main_wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.variants_wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.variants_wrapper-button {
  padding: 50px 100px;
  margin: 0 50px;
  background-color: #111111;
  font-family: Poppins;
  font-weight: 700;
  font-style: Bold;
  font-size: 30px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  vertical-align: middle;
  border-radius: 30px;
  cursor: pointer;
}

.answer-button {
  width: 300px;
  padding: 30px 80px;
  margin: 50px 0;
  background-color: #111111;
  font-family: Poppins;
  font-weight: 700;
  font-style: Bold;
  font-size: 30px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  vertical-align: middle;
  border-radius: 30px;
  cursor: pointer;
}
