@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

.wrapper_list {
  min-width: 349px;
  height: 603px;
  border-radius: 30px;
  background-color: #111111;
  padding: 20px;
}

.wrapper_list-h1 {
  font-family: Poppins;
  font-weight: 700;
  font-style: Bold;
  font-size: 25px;
  text-align: center;
  margin-bottom: 33px;
}

.wrapper_list-li {
  font-family: Poppins;
  font-weight: 700;
  font-style: Bold;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 0%;
  vertical-align: middle;
  margin: 20px;
  color: #ffffff;
}

.wrapper_list-span {
  margin: 5px;
}
