main {
  display: flex;
}

.contentWrapper {
  width: 81%;
}

.sidebar_wrapper {
  min-width: 19%;
}
.cards_wrapper {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.code_card_wrapper-h2 {
  color: #000000;
  font-family: Poppins;
  font-weight: 700;
  font-style: Bold;
  font-size: 25px;
  line-height: 100%;
  letter-spacing: 0%;
  vertical-align: middle;
}

.code_card_wrapper {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.code_card_wrapper-button {
  color: #ffffff;
  background-color: #000000;
  padding: 20px;
  border-radius: 30px;
  font-family: Poppins;
  font-weight: 700;
  font-style: Bold;
  font-size: 24px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
}
