@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

.code_page_main {
  width: 100%;
  height: 100vh;
  display: grid;
  place-content: center;
}

.code_page_wrapper-h1 {
  width: 573px;
  height: 89px;
  align-items: center;
  display: flex;
  justify-content: center;
  border-radius: 30px;
  background-color: #111111;
  font-family: Poppins;
  font-weight: 700;
  font-style: Bold;
  font-size: 35px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  vertical-align: middle;
  color: #ffffff;
}

.code_page_wrapper-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.code_page_wrapper-input {
  width: 100%;
  height: 89px;
  border: 2px solid #111111;
  margin: 48px 0;
  border-radius: 30px;
  outline: none;
  font-family: Poppins;
  font-style: Bold;
  font-size: 35px;
  padding: 10px;
  color: #111111;
}

.code_page_wrapper-button {
  display: flex;
  margin: 0 auto;
  cursor: pointer;
  background-color: #111111;
  color: #ffffff;
  padding: 20px 40%;
  border: none;
  outline: none;
  border-radius: 30px;
  font-family: Poppins;
  font-style: Bold;
  font-size: 24px;
}

.code_page_wrapper {
  margin: auto;
}
